//- if user_signed_in?
= link_to new_product_path, class: "display_btn" do
  .display_btn__in-box
    .display_btn__in-box--text
      出品する
    = image_tag "icon/icon_camera.png", size: "54x54", class: "display_btn__in-box--img"