.main_visual_create-one
  .main_visual_create-one__body-main
    .main_visual_create-one__body-main--top
      %p 人生を変えるフリマアプリ
    .main_visual_create-one__body-main--middle
      %p FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .main_visual_create-one__body-main--btn
      = link_to "#", class: "icon" do
        = image_tag 'bag_app.png',class: "appBtn"
      = link_to "#", class: "icon" do
        = image_tag 'ja_badge_web_generic.png',class: "googleBtn"