.wrapper
  .containerCategory
    %h2.containerCategory__title
      商品一覧
    .containerCategory__product
      .containerCategory__product--head
        = link_to "#", class: "products--head" do
          %h3.head
      .containerCategory__product--lists
        
        %figure.product__images
          
        .containerCategory__product--lists__list--body
          %h3.product--name
            
          .containerCategory__product--lists__list--body__details
            %ul.details__menu
              %li
                
                円
              %li ★
          %p.taxIncluded （税込）