.wrapper
  .pickup_category__containerCategory
    %h2.pickup_category__containerCategory__title
      商品一覧
    .pickup_category__containerCategory__product
      .pickup_category__containerCategory__product--head
        = link_to "#", class: "pickup_category__products--head" do
          %h3.head
      .pickup_category__containerCategory__product--lists
        
        %figure.pickup_category__product__images
          
        .pickup_category__containerCategory__product--lists__list--body
          %h3.pickup_category__product--name
            
          .pickup_category__containerCategory__product--lists__list--body__details
            %ul.pickup_category__details__menu
              %li
                
                円
              %li ★
          %p.pickup_category__taxIncluded （税込）