.main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name product3
          .itemBox__body
            %ul
              %li
                %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
                %ul
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :width => "75"}/
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", :width => "75"}/
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", :width => "75"}/



          .itemBox__price
            %span
              ¥30000
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    %a{:href => "#"} ベビー・キッズ
                    %br/
                    %a{:href => "#"} ベビー服(男女兼用)  ~95cm
                    %br/
                    %a{:href => "#"} アウター
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a{:href => "#"} 岩手県
                %tr
                  %th 発送日の目安
                  %td 4-7日で発送
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                %a{:href => "#"}
                  %i.fa.fa-flag
                  不適切な商品の通報
        .commentBox
          %ul.commentContents
          %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "1NxpNJyDFYtsiCk9sjRs0RKxssQ/jbE95Yf1Rr6D9tO1kd7Cc6EsdZvTr9DslutaNcHzXHre4aMeKiUey8NWzA=="}/
            %textarea#comment_body{:name => "comment[body]", :required => "required"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする
      %ul.links
        %li
          %a{:href => "#"}
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          %a{:href => "#"}
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        %a{:href => "#"} ベビー・キッズをもっと見る
        .productLists















-# %section.item-box-container.l-single-container
-#   %h1.item-name ギャグマンガ日和GB 1 増田こうすけ劇場
-#   .item-main-content.clearfix
-#     .item-photo
-#       .owl-carousel.owl-loaded.owl-drag
-#         .owl-stage-outer
-#           .owl-stage{:style => "left: 0px; width: 600px;"}
-#             .owl-item.active{:style => "width: 300px;"}
-#               .owl-item-inner.is-higher-height
-#                 %img.owl-lazy{:alt => "ギャグマンガ日和GB 1 増田こうすけ劇場", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m58985111622_1.jpg?1587558918", :src => "https://static.mercdn.net/item/detail/orig/photos/m58985111622_1.jpg?1587558918", :style => "opacity: 1;"}/
-#             .owl-item{:style => "width: 300px;"}
-#               .owl-item-inner.is-higher-height
-#                 %img.owl-lazy{:alt => "ギャグマンガ日和GB 1 増田こうすけ劇場", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m58985111622_2.jpg?1587558918"}/
-#         .owl-nav.disabled
-#           .owl-prev prev
-#           .owl-next next
-#         .owl-dots
-#           .owl-dot.active
-#             %span
-#             .owl-dot-inner
-#               %img.is-higher-height{:src => "https://static.mercdn.net/item/detail/orig/photos/m58985111622_1.jpg?1587558918"}/
-#           .owl-dot
-#             %span
-#             .owl-dot-inner
-#               -# %img.is-higher-height{:src => "https://static.mercdn.net/item/detail/orig/photos/m58985111622_2.jpg?1587558918"}/
-#     .item-price-box.text-center.visible-sp
-#       %span.item-price.bold ¥400
-#       %span.item-tax (税込)
-#       %span.item-shipping-fee 送料込み
-#     %section.visible-sp
-#       .item-btn-float-area
-#         %a.item-buy-btn{:href => "https://www.mercari.com/jp/transaction/buy/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}
-#           購入画面に進む
-#     %table.item-detail-table
-#       %tbody
-#         %tr
-#           %th 出品者
-#           %td
-#             %a{:href => "https://www.mercari.com/jp/u/654254455/"} ほづみ
-#             %div
-#               .item-user-ratings
-#                 %i.icon-good
-#                 %span 17
-#               .item-user-ratings
-#                 %i.icon-normal
-#                 %span 0
-#               .item-user-ratings
-#                 %i.icon-bad
-#                 %span 0
-#         %tr
-#           %th カテゴリー
-#           %td
-#             %a{:href => "https://www.mercari.com/jp/category/5/"}
-#               %div 本・音楽・ゲーム
-#             %a{:href => "https://www.mercari.com/jp/category/71/"}
-#               .item-detail-table-sub-category
-#                 %i.icon-arrow-right
-#                 漫画
-#             %a{:href => "https://www.mercari.com/jp/category/663/"}
-#               .item-detail-table-sub-sub-category
-#                 %i.icon-arrow-right
-#                 少年漫画
-#         %tr
-#           %th ブランド
-#           %td
-#         %tr
-#           %th 商品の状態
-#           %td 目立った傷や汚れなし
-#         %tr
-#           %th 配送料の負担
-#           %td 送料込み(出品者負担)
-#         %tr
-#           %th 配送の方法
-#           %td ゆうゆうメルカリ便
-#         %tr
-#           %th 配送元地域
-#           %td 福島県
-#         %tr
-#           %th 発送日の目安
-#           %td 2~3日で発送
-#   .item-price-box.text-center
-#     %span.item-price.bold ¥400
-#     %span.item-tax (税込)
-#     %span.item-shipping-fee 送料込み
-#   %a.item-buy-btn{:href => "https://www.mercari.com/jp/transaction/buy/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}
-#     購入画面に進む
-#   %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m58985111622", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
-#     アプリで購入
-#   .item-description.f14
-#     %p.item-description-inner
-#       「ギャグマンガ日和GB 増田こうすけ劇場 1」
-#       増田こうすけ
-#       定価: ￥ 481
      
-#       即購入okです。
-#       一巻のみの販売
      
      
-#       \#増田こうすけ #漫画 #COMIC #少年
      
-#       連載開始15周年を記念して「ギャグマンガ日和」がリニューアル! 新たに「ギャグマンガ日和GB」としてスタート!! でも聖徳太子やクマ吉君など、お馴染みのキャラもいるよ!!!
-#   .item-button-container.clearfix
-#     .item-button-left
-#       %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m58985111622", "data-toggle" => "like", :name => "like!", :type => "button"}
-#         %i.icon-like-border
-#         %span いいね!
-#         %span.fade-in-down{"data-num" => "like"} 0
-#       %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
-#         %i.icon-flag
-#         %span 不適切な商品の報告
-#       %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}/
-#       %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}/
-#       %input{:name => "__csrf_value", :type => "hidden", :value => "6d2518b5c3c10c6223b2fb76fa46f041221ec755a98aa5e3380459057c6f060a7058a7d43bc25dfaccea37e7b7ce62c68be4df8a416fcfab910a25af2da9db57b"}/
-#     .item-button-right
-#       %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
-#         %i.icon-lock
-#         %span あんしん・あんぜんへの取り組み
