検証用仮設置 product index
.wrapper
  .pickup_category__containerCategory
    %h2.pickup_category__containerCategory__title
      ピックアップカテゴリー
    .pickup_category__containerCategory__product

      .pickup_category__containerCategory__product--head
        = link_to "#", class: "pickup_category__products--head" do
          %h3.products--head-title 新規投稿商品
      .pickup_category__containerCategory__product--lists
        - @products.each do |product|
          .pickup_category__containerCategory__product--lists__list
            = link_to product.name, product_path(product.id)#, class: "pickup_category__containerCategory__product--lists__list"

      -# = link_to image_tag ('pict/bg-appBanner-pict.jpg', size: '75*75'), product_path(product.id)#, class: "pickup_category__containerCategory__product--lists__list"
 
      -# %figure.pickup_category__product__images
      -#   = image_tag "https://static.mercdn.net/item/detail/orig/photos/m26688514106_1.jpg?1579836989", class: "pickup_category__product__images--image"
      -# .pickup_category__containerCategory__product--lists__list--body
      -#   %h3.pickup_category__product--name
      -#     = product.name
      -#   .pickup_category__containerCategory__product--lists__list--body__details
      -#     %ul.pickup_category__details__menu
      -#       %li
      -#         = "#{product.price}円"
      -#       %li ★
      -#   %p.pickup_category__taxIncluded （税込）