%main.products-purchase-wrapper
  %section.products-purchase-wrapper__buy-item-container
    %h2.products-purchase-wrapper__buy-item-container__buy-head 購入内容の確認


    .products-purchase-buy-content
      .products-purchase-buy-content__inner
        .products-purchase-buy-content__inner__item-box
          %h3.products-purchase-buy-content__inner__item-box__image
            %img.products-purchase-buy-content__inner__item-box__image--img-loaded{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m58985111622_1.jpg?1587558918", :src => "https://static.mercdn.net/thumb/photos/m58985111622_1.jpg?1587558918"}/
          .products-purchase-buy-content__inner__item-box__detail
            %p.products-purchase-buy-content__inner__item-box__detail__name ギャグマンガ日和GB 1 増田こうすけ劇場
            %p.products-purchase-buy-content__inner__item-box__detail__price-ja
              %span ¥400
              %span.products-purchase-buy-content__inner__item-box__detail__price-ja__shipping-fee （税込）送料込み



    %section.products-purchase-buy-content
      .products-purchase-buy-content__inner
        %form#buy-item-form.buy-form{:action => "https://www.mercari.com/jp/transaction/buy/done/m58985111622/", :method => "POST", :novalidate => "novalidate"}
          %ul.products-purchase-buy-price-table
            %li.products-purchase-buy-price-row
              .products-purchase-buy-price-cell.buy-price-cell-label 支払い金額
              .products-purchase-buy-price-cell
                %span{"data-buy-pay" => "400"} ¥400

          -# ポイント
          -# %ul.buy-accordion.buy-not-have-point
          -#   %li.accordion-parent
          -#     .checkbox-default.buy-use-point
          -#       %input{:disabled => "disabled", :type => "checkbox"}/
          -#       %i.icon-check
          -#       %label ポイントを使用 (所持ポイント: P0)

          %section.buy-user-info{"data-buy" => "pay-method"}
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 支払い方法
                %a.products-purchase-l-right.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/select_card/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}
                  %span 変更する
              %p.products-purchase-buy-user-info-text
                %br/
                クレジットカード
                %br/
                ************7375
                %br/
                有効期限 08 / 23
              %figure.products-purchase-buy-card-logo
                %img{:alt => "visa", :height => "15", :src => "//pcweb-assets.mercdn.net/assets/img/card/visa.svg?1536441709", :width => "49"}/
              %p

          %section.buy-user-info
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 配送先
                %a.products-purchase-l-right.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/address/m58985111622/?_s=U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}
                  %span 変更する
              %address.products-purchase-buy-user-info-text
                %p
                  %br/
                  〒176-0005
                  %br/
                  東京都 練馬区 ***2-*-*

                  %br/
                  青木　健


          -# %input{:name => "seller_id", :type => "hidden", :value => "654254455"}/
          -# %input{:name => "payment_fee", :type => "hidden", :value => "0"}/
          -# %input{:name => "payment_amount", :type => "hidden", :value => "400"}/
          -# %input{:name => "price", :type => "hidden", :value => "400"}/
          -# %input{:name => "category_id", :type => "hidden", :value => "663"}/
          -# %input{:name => "item_condition", :type => "hidden", :value => "3"}/
          -# %input{:name => "shipping_payer", :type => "hidden", :value => "2"}/
          -# %input{:name => "shipping_method", :type => "hidden", :value => "17"}/
          -# %input{:name => "shipping_duration", :type => "hidden", :value => "2"}/
          -# %input{:name => "shipping_class", :type => "hidden", :value => "0"}/
          -# %input{:name => "zip_code1", :type => "hidden", :value => "176"}/
          -# %input{:name => "zip_code2", :type => "hidden", :value => "0014"}/
          -# %input{:name => "paid_method", :type => "hidden", :value => "card"}/
          -# %input{:name => "checksum", :type => "hidden", :value => "6320a94cecc4ade17d7bd2946f7269da"}/
          -# %input{:name => "payment_card_sequence_no", :type => "hidden", :value => "SM6vssUvjRLFiS38BDDdbvcc"}/
          -# %input{:name => "payment_use_last_card_base64", :type => "hidden", :value => "eWVz"}/
          -# %input{:name => "item_name_base64", :type => "hidden", :value => "44Ku44Oj44Kw44Oe44Oz44Ks5pel5ZKMR0IgMSDlopfnlLDjgZPjgYbjgZnjgZHliofloLQ="}/
          -# %input{:name => "description_base64", :type => "hidden", :value => "44CM44Ku44Oj44Kw44Oe44Oz44Ks5pel5ZKMR0Ig5aKX55Sw44GT44GG44GZ44GR5YqH5aC0IDHjgI0K5aKX55Sw44GT44GG44GZ44GRCuWumuS+oTog77+lIDQ4MQoK5Y2z6LO85YWlb2vjgafjgZnjgIIK5LiA5be744Gu44G/44Gu6LKp5aOyCgoKI+Wil+eUsOOBk+OBhuOBmeOBkSAj5ryr55S7ICNDT01JQyAj5bCR5bm0CgrpgKPovInplovlp4sxNeWRqOW5tOOCkuiomOW/teOBl+OBpuOAjOOCruODo+OCsOODnuODs+OCrOaXpeWSjOOAjeOBjOODquODi+ODpeODvOOCouODqyEg5paw44Gf44Gr44CM44Ku44Oj44Kw44Oe44Oz44Ks5pel5ZKMR0LjgI3jgajjgZfjgabjgrnjgr/jg7zjg4ghISDjgafjgoLogZblvrPlpKrlrZDjgoTjgq/jg57lkInlkJvjgarjganjgIHjgYrpprTmn5Pjgb/jga7jgq3jg6Pjg6njgoLjgYTjgovjgoghISE="}/
          -# %input{:name => "shipping_from_area_base64", :type => "hidden", :value => "Nw=="}/
          -# %input{:name => "family_name_base64", :type => "hidden", :value => "5ZSQ"}/
          -# %input{:name => "first_name_base64", :type => "hidden", :value => "6Zuy6Im2"}/
          -# %input{:name => "family_name_kana_base64", :type => "hidden", :value => "44OI44Km"}/
          -# %input{:name => "first_name_kana_base64", :type => "hidden", :value => "44Km44Oz44Ok44Oz"}/
          -# %input{:name => "prefecture_base64", :type => "hidden", :value => "5p2x5Lqs6YO9"}/
          -# %input{:name => "city_base64", :type => "hidden", :value => "57e06aas5Yy6"}/
          -# %input{:name => "address1_base64", :type => "hidden", :value => "6LGK546J5Y2XMy0zMi0zNS0zMDE="}/
          -# %input{:name => "address2_base64", :type => "hidden", :value => "6Zm944Gg44G+44KK6I2Y"}/
          -# %input{:name => "telephone_base64", :type => "hidden", :value => "MDgwOTI5Nzg5OTU="}/
          -# %input{:name => "__csrf_value", :type => "hidden", :value => "6d2518b5c3c10c6223b2fb76fa46f041221ec755a98aa5e3380459057c6f060a7058a7d43bc25dfaccea37e7b7ce62c68be4df8a416fcfab910a25af2da9db57b"}/
          -# %input{:name => "_s", :type => "hidden", :value => "U2FsdGVkX1_af0K0gctOZaHsSfayx02KI3wH_o8bSUCaGTSZkBUAreEHfbK2ZHuYKANCrXQkjQEWpzwjzl6lFNZzIdUk0DYWhk7tCiyoUXy6HYZ2-wHzVOscIJXrIZXH"}/
          
          
          %section.buy-user-info
            %p.products-purchase-has-info-text
              郵便局/コンビニ受取をご希望の方は、購入後に
              %span.products-purchase-bold> 取引画面
              から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
            %button.products-purchase-btn-default.btn-red.bold{"data-item-id" => "m58985111622", "data-modal" => "identity-confirmation", :type => "submit"} 購入する
      
      
      -# %section
      -#   .buy-identity-confirmation-modal
      -#     %aside.modal{"data-close" => "modal", "data-modal" => "identity-confirmation"}
      -#       .modal-inner.modal-banner
      -#         .modal-body
      -#           .modal-head.bold.visible-pc こちらの商品の購入には本人確認が必要になります
      -#           .modal-head.bold.visible-sp
      -#             こちらの商品の購入には
      -#             %br>/
      -#             本人確認が必要になります
      -#           .modal-content
      -#             .visible-sp アプリから本人確認の手続きをお願いします。
      -#             %a.btn-default.btn-open-app.visible-sp{"data-action" => "app/openUrl", "data-adjust-url" => "", "data-key" => "url=https://www.mercari.com/jp/help_center/article/928/", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""}
      -#               アプリを開く
      -#             .not-have-app-text.visible-pc メルカリアプリをダウンロードいただき、メルペイでの本人確認の手続きをお願いします。
      -#             .not-have-app-text.visible-sp アプリをお持ちでない方は以下よりインストールをお願いします。
      -#             .buy-store-logos.visible-sp
      -#               %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
      -#                 %img{:alt => "", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/app-store.svg?1536441709"}/
      -#               %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
      -#                 %img{:alt => "", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/google-play.svg?1536441709"}/
      -#             .guide-text
      -#               詳しくは
      -#               %a{:href => "/jp/help_center/article/928/"}> メルカリガイド
      -#               をご確認ください。
      -#         .clearfix
      -#           %a
      -#             %button.modal-btn-close{"data-close" => "modal"} 閉じる
      -# .overlay
