.products-new-header{
  height: 130px;
  width: 100%;
  background-color: chartreuse;
  display:flex;
  align-items:center;
  &__logo{
    height: 55px;
    margin: 0 auto;
  }
}

.products-new-main{
  height: 100vh;
  width: 100%;
  background-color: cornsilk;
  &__form{
    height: 100%;
    width: 50%;
    background-color: cyan;
    margin: 0 auto;
    padding: 20px;
  }
}

.products-new-footer{
  height: 210px;
  width: 100%;
  background-color: darkcyan;
}