.products-show-main{
  background-color: #f8f8f8;

  .products-show-wrapper{    
    padding: 40px;
    margin: 0 auto;
    .products-show-contents{
      width: 700px;
      margin: 0 auto;

      .products-show-itemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__pic{
            margin: 16px 0 0;
            ul{
              display: flex;
              position: relative;
              li{    
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                ul{
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li{
                    width: 25%;
                    margin: 0 auto;
                    img{
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }

          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &--tax_shipfee{
              span{
                font-size: 16px;
                font-weight: normal;
              }
            }
          }

          &__buy-btn{
            font-size: 24px;
            line-height: 60px;
            display: block;
            margin-top: 16px;
            background: #3CCACE;
            color: #fff;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
            a{
              text-decoration: none;
            }
          }


          .l-single-container{
            // width: 700px;
            margin: 0 auto;
            background: #fff;

          .listing-item-change-box{
            margin: 24px 0 24px 0;
            background: #fff;
            padding: 8px 0 8px 0;
            .products-show-itemBox__btn-red{
              line-height: 60px;
              display: block;
              margin: 16px 0 16px 0;
              background: #3CCACE;
              color: #fff;
              line-height: 56px;
              text-align: center;
              text-decoration: none;
              a{
                text-decoration: none;
              }
            }
            .text-center{
              text-align: center;
            }
            .products-show-itemBox__btn-grey{
              line-height: 60px;
              display: block;
              margin: 16px 0 16px 0;
              background: #AAAAAA;
              color: #fff;
              line-height: 56px;
              text-align: center;
              text-decoration: none;
              a{
                text-decoration: none;
              }
            }

          }
          }
          .products-show-detail{
          padding: 32px 0 0;
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
          }
        



        .products-show-table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody{
              tr{
                a{
                  text-decoration: none;
                  color: #3CCACE;
                }
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
            }
          }
        }



        .products-show-fav_bad_btn{
          margin: 10px 0 0;
          display: flex;
          justify-content: space-between;
          ul{    
            margin: 10px 0 0;
            display: flex;
            li:first-child{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
          }
          ul.optional{
            font-size: 14px;
            li.optionalBtn{
              display: inline-block;
              border-radius: 4px;
              border: 1px solid #333;
              a{
              text-decoration: none;
              color: #333;
              }
            }
          }
        }
      }
    
      
      .products-show-commentBox{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        &__new_comment{
          #comment_body{    
            width: 100%;
            min-height: 104px;
            padding: 10px;}
            &__noticeMsg{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            &__commentBtn{
              font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            }
            // i.fa.fa-comment{}
        
        }
      }

      .products-show-link-block{
        height: 24px;
        ul.links{
          li{
            float: left;
            a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
          li:last-child{
            float: right;
            a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
        }
      }

      .products-show-relatedItems{
        clear: both;
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}